body{
  /*background-color: #dfdfdf;
  background-image: url("logo karima.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;*/
background: #dfdfdf url("limas segi4.jpg") no-repeat fixed bottom;
}

/*#menu-web{
  background: blue;
}
.menu{
  color:white;
}*/

/*merubah inline menjadi blok*/
/*a{
  display: block;} */
h1{
  color: blue;
  /*background:black;*/
  font-size: 35px;
  /*padding-left: 150px;*/
  text-align: center;
  text-decoration: underline;
  display: inline;
}
h4{
    text-align: center;
    color: green;
    display: inline;
  }

#menu_wrap{
  /*margin-bottom: 50px;
  margin-left: 50px; */
  /*margin: atas kanan bawah kiri*/
/*margin: 50px 0 50px 0;*/
}

/*membuat font*/
#text_pendek{
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  width: 50%;
  background: yellow;
  height: 120px;
  /*max-width: 50%;*/
  /*max-height: 200px;*/
  /*visibility: hidden;*/
  /*display: none;*/


}

#text_panjang{
  text-align: justify;
  text-indent: 30px;
  letter-spacing: 3px;
  line-height: 25px;
  word-spacing: 19px;
}

.menu{
  display: inline-block;
  /*height: 25px;
  width: 100px;*/
  text-decoration: none;
  text-align: center;
  /*border-width: 3px;
  border-style: solid;
  border-color: gold;*/
  border: 3px solid black;
  padding: 10px;
}
.menu:link{
  background:white;
  color:blue;
}
/*setelah dikunjungi*/
.menu:visited{
  background: green;
}
/*setelah berada diatas*/
.menu:hover{
    background: red;
}
/*ketika diklik*/
.menu:active{
  background: white;
}

#menu_member{
  /*position: relative;
  top: 100px;
  left: 150px;*/

  /*position: absolute;
  top: 100px;
  left: 150px;*/

  position: fixed;
  top: 100px;
  left: 150px;
}
#parent_h1{
  position: absolute;
  top: 100px;
}
#h1_member{
  background: blue;
  position: absolute;
  top: 140px;
  left: 100px;
}

#parent_h4{
  position: fixed;
  top: 100px;
}
#h4_member{
  background: red;
  position: fixed;
  top: 140px;
  left: 100px;
}
