*{
  padding:0px; margin:0px;
  font-family:sans-serif;
}

.wraper{
  width:900px;
  margin: 0 auto;
}

h1{
  float: left;
  font-size: 40px;
  padding-top:10px;
}

.content-header{
  background: #3a5795;
  color: white;
  padding: 10px 0;
}

.clearfix:after{
  content:"";
  display: table;
  clear: both;
}

.content-header form{
  float: right;
}

.content-header label{
  font-size:11px;
}

.content-header label,
.content-header input{
  display:block;
}

.content-header input (type= "checkbox"){
  display:inline-block;
}
.group-form{
  float: left;
  margin-left: 10px;
}

.group-form a{
  color: rgba(0,0,0,8);
  font-size: 11px;
  text-decoration: none;
}

  .content-header input (type:"submit"){
  background-color: #5972a8;
  color: white;
  font-weight: bold;
  padding: 15px;
  border:1px solid black;
  font-size: 15px;
  margin-top:10px;
}
